---
import { PageHeader } from "@/components/PageHeader";
import RichText from "@/components/RichText.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import {
  bySort,
  getCollection,
  getPage,
  setContentCacheHeaders,
} from "@/lib/content";
import { fitWidth } from "@/lib/utils";
import { Image as MediaImage } from "emdash/ui";

const { page: vendorProse, isPreview } = await getPage("market");
const vendors = (await getCollection("vendors")).sort(bySort);

setContentCacheHeaders(Astro, { isPreview });
---

<MainLayout title="Market" description="Market and Vendors Information">
  <div class="container max-w-4xl">
    <PageHeader>
      {vendorProse.data.title}
    </PageHeader>
    <div class="prose mx-auto mt-10 dark:prose-invert">
      <RichText value={vendorProse.data.content} />
    </div>
    <ul class="flex flex-col gap-8">
      {
        vendors.map((vendor) => (
          <li class="gap-4 md:grid md:grid-cols-[1fr_2fr]">
            <a class="col-span-1" href={vendor.data.website}>
              <MediaImage
                class="max-h-[300px] rounded-sm"
                image={vendor.data.logo}
                {...fitWidth(vendor.data.logo, 600)}
                alt={`${vendor.data.name} logo`}
              />
            </a>
            <a
              class=" col-span-1 col-start-2 row-start-1 font-semibold underline underline-offset-8 first-line:text-2xl hover:text-primary"
              href={vendor.data.website}
            >
              {vendor.data.name}
            </a>
            <div class="prose col-span-1 col-start-2 row-start-1 mt-10 dark:prose-invert">
              <RichText value={vendor.data.info} />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
