---
import MainLayout from "@/layouts/MainLayout.astro";

import { getDirectusClient } from "@/lib/directus";
import { readItems, readSingleton } from "@directus/sdk";

const directus = getDirectusClient();
const vendorProse = await directus.request(readSingleton("vendor_page"));
const vendors = await directus.request(readItems("vendors"));
---

<MainLayout title="Market" description="Market and Vendors Information">
  <div class="container max-w-2xl">
    <h1 class="rainbow-text my-8 text-center text-4xl font-semibold">
      {vendorProse.title}
    </h1>
    <div class="prose mt-10 dark:prose-invert" set:html={vendorProse.body} />
    <ul>
      {
        vendors.map((vendor) => (
          <li>
            <a href={vendor.website} class="text-xl">
              {vendor.name}
            </a>
            <div class="prose mt-10 dark:prose-invert" set:html={vendor.info} />
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
