---
// TODO: There's no reason this page couldn't be split up into "multiple" cached pages.
import { PageHeader } from "@/components/PageHeader";
import { Photo } from "@/components/Photo";
import MainLayout from "@/layouts/MainLayout.astro";
import { getDirectusClient } from "@/lib/directus";
import { readItems } from "@directus/sdk";
import slugify from "@sindresorhus/slugify";

const directus = getDirectusClient();
const people = await directus.request(readItems("people"));
const url = new URL(Astro.request.url);
const assets = new URL("/assets/", directus.url);

if (!url.searchParams.has("preview")) {
  Astro.response.headers.append(
    "Cache-Control",
    "public, max-age=600, stale-while-revalidate=30",
  );
}
---

<MainLayout title="Educators" description="Educators">
  <div class="container max-w-4xl">
    <PageHeader>Educators and Presentors</PageHeader>
    <p class="my-6">
      We'd like to recognize and thank the following educators and presentors
      who are volunteering their time this year.
    </p>
    <ul class="mt-4 flex flex-col gap-4">
      {
        people
          .sort((a, b) => a.sort - b.sort)
          .map((person) => (
            <li id={slugify(person.display_name)}>
              <div>
                <Photo
                  src={`${assets}/${person.profile_pic}`}
                  alt={person.display_name}
                  className="max-w-[min(25vw,15rem)] float-left mb-2 mr-8 mt-4"
                />
                <h2 class="text-2xl font-bold">{person.display_name}</h2>
                <hr class="my-4 h-[2px] bg-white" />
                <span class="prose-base">{person.bio}</span>
              </div>
            </li>
          ))
      }
    </ul>
  </div>
</MainLayout>
