---
import { PageHeader } from '@/components/PageHeader';
import RichText from '@/components/RichText.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { bySort, getCollection, getPage, setContentCacheHeaders } from '@/lib/content';
import { fitWidth } from '@/lib/utils';
import { Image as MediaImage } from 'emdash/ui';

const { page: sponsorProse, isPreview } = await getPage('sponsors');
const sponsors = (await getCollection('sponsors')).sort(bySort);

setContentCacheHeaders(Astro, { isPreview });
---

<MainLayout title="Sponsors" description="Sponsors and Social Hosts">
	<div class="container max-w-4xl">
		<PageHeader>Sponsors and Social Hosts</PageHeader>
		<div class="prose mx-auto my-10 dark:prose-invert">
			<RichText value={sponsorProse.data.content} />
		</div>
		<ul class="flex flex-col gap-8">
			{
				sponsors.map((sponsor) => (
					<li class="gap-4 md:grid md:grid-cols-[1fr_2fr]">
						<a class="col-span-1" href={sponsor.data.website}>
							<MediaImage
								class={`max-h-[300px] rounded-sm ${sponsor.data.invert_logo ? 'invert' : 'invert-0'}`}
								image={sponsor.data.logo}
								{...fitWidth(sponsor.data.logo, 600)}
								alt={`${sponsor.data.name} logo`}
							/>
						</a>
						<a
							class="col-span-1 col-start-2 row-start-1 font-semibold underline underline-offset-8 first-line:text-2xl hover:text-primary"
							href={sponsor.data.website}
						>
							{sponsor.data.name}
						</a>
						<div class="prose col-span-1 col-start-2 row-start-1 mt-10 dark:prose-invert">
							<RichText value={sponsor.data.info} />
						</div>
					</li>
				))
			}
		</ul>
	</div>
</MainLayout>
