---
import { PageHeader } from "@/components/PageHeader";
import RichText from "@/components/RichText.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import {
  bySort,
  getCollection,
  getPage,
  setContentCacheHeaders,
} from "@/lib/content";
import slugify from "@sindresorhus/slugify";

const { page: gettingAround, isPreview } = await getPage("getting-around");
const venues = (await getCollection("venues")).sort(bySort).map((venue) => ({
  ...venue,
  anchor: slugify(venue.data.title),
}));

setContentCacheHeaders(Astro, { isPreview });
---

<MainLayout
  title="Getting Around"
  description="Getting Around for ATX Rubber Roundup"
>
  <div class="container max-w-4xl">
    <PageHeader>Getting Around / Venues</PageHeader>
    <div class="prose mt-10 dark:prose-invert">
      <RichText value={gettingAround.data.content} />
    </div>
    <nav
      id="venues"
      class="mb-4 mt-6 inline-block rounded border border-primary p-4"
    >
      <h2 class="text-lg">Event Locations:</h2>
      <ol class="list-disc pl-4">
        {
          venues.map((venue) => (
            <li>
              <a
                class="font-medium underline underline-offset-4"
                href={`#${venue.anchor}`}
              >
                {venue.data.title}
              </a>
            </li>
          ))
        }
      </ol>
    </nav>
    <hr class="my-6 h-px bg-primary" />
    <div class="flex flex-col gap-16">
      {
        venues.map((venue) => (
          <div id={venue.anchor}>
            <h3 class="mb-3 mt-4 text-lg font-semibold underline decoration-gray-500 underline-offset-8">
              {venue.data.title}
            </h3>
            <div class="prose dark:prose-invert">
              <RichText value={venue.data.body} />
            </div>
            <div class="flex flex-col gap-2">
              {venue.data.address ? (
                <p class="mt-2 font-light">{venue.data.address}</p>
              ) : null}
              {venue.data.maps_embed ? (
                <iframe
                  src={venue.data.maps_embed}
                  width="600"
                  height="300"
                  class="w-[60vw] max-w-4xl rounded border border-primary contrast-85 grayscale invert-90 filter"
                  allowfullscreen=""
                  loading="lazy"
                  title={`Google Maps showing ${venue.data.title} location`}
                  referrerpolicy="no-referrer-when-downgrade"
                />
              ) : null}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
