---
import { PageHeader } from "@/components/PageHeader";
import MainLayout from "@/layouts/MainLayout.astro";
import { loadItems, loadSingleton } from "@/lib/cache";
import { getDirectusClient } from "@/lib/directus";
import slugify from "@sindresorhus/slugify";

const directus = getDirectusClient();

const gettingAround = await loadSingleton(
  Astro,
  directus,
  "getting_around_page",
);
const venuesData = await loadItems(Astro, directus, "venues");
const venues = venuesData
  .map((venue) => ({
    ...venue,
    slug: slugify(venue.title),
  }))
  .sort((a, b) => a.sort - b.sort);
---

<MainLayout
  title="Getting Around"
  description="Getting Around for ATX Rubber Roundup"
>
  <div class="container max-w-4xl">
    <PageHeader>Getting Around / Venues</PageHeader>
    <div class="prose mt-10 dark:prose-invert" set:html={gettingAround.body} />
    <nav
      id="venues"
      class="mb-4 mt-6 inline-block rounded border-[1px] border-primary p-4"
    >
      <h2 class="text-lg">Event Locations:</h2>
      <ol class="list-disc pl-4">
        {
          venues.map((venue) => (
            <li>
              <a
                class="font-medium underline underline-offset-4"
                href={`#${venue.slug}`}
              >
                {venue.title}
              </a>
            </li>
          ))
        }
      </ol>
    </nav>
    <hr class="my-6 h-[1px] bg-primary" />
    <div class="flex flex-col gap-16">
      {
        venues.map((venue) => (
          <div id={venue.slug}>
            <h3 class="mb-3 mt-4 text-lg font-semibold underline decoration-gray-500 underline-offset-8">
              {venue.title}
            </h3>
            <div class="prose dark:prose-invert" set:html={venue.body} />
            <div class="flex flex-col gap-2">
              {venue.address ? (
                <p class="mt-2 font-light">{venue.address}</p>
              ) : null}
              {venue.maps_embed ? (
                <iframe
                  src={venue.maps_embed}
                  width="600"
                  height="300"
                  class="w-[60vw] max-w-4xl rounded border border-primary contrast-[85%] grayscale invert-[90%] filter"
                  allowfullscreen=""
                  loading="lazy"
                  title="Google Maps showing Hotel Indigo Austin Downtown Location"
                  referrerpolicy="no-referrer-when-downgrade"
                />
              ) : null}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
